slider-container {
    background: linear-gradient(149deg, rgb(247, 0, 255) 0%, rgb(255, 145, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slider {
    width: 100%;
    max-width: 95vw;
    height: 80vh;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
slide:nth-of-type(even) {
    background-color: rgb(250, 246, 212);
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 80vh;
    margin-right: 0px;
    box-sizing: border-box;
    background: white;
    transform-origin: center center;
    transform: scale(1);
    scroll-snap-align: center;
}

.slide__text {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
}
.slide a {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid red;
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
}

a.slide__prev {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
}

a.slide__next{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
}
#slides__1{
    background-image: url(/assets/best-boy.jpg);
    background-attachment: fixed;
    background-position: center;
}
#slides__2{
    background-image: url(/assets/good-boy1.jpg);
    background-attachment: fixed;
    background-position: center;
}
#slides__3{
    background-image: url(/assets/good-boy2.jpeg);
    background-attachment: fixed;
    background-position: center;
}
#slides__4{
    background-image: url(/assets/good-boy3.jpg);
    background-attachment: fixed;
    background-position: center;
}